<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biography Section</title>
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <h1 class="ckp">CKP</h1>
        <input type="checkbox" name="" id="chek">
        <label for="chek">
          <div class="burger">
             <div class="lineburger"></div>
             <div class="lineburger"></div>
             <div class="lineburger"></div>
          </div>

          </label>
        <nav>
            <ul>
                    <li><a href=".//templates/portfolio.html">Portfolio</a></li>
                    <li><a href="./templates/about.html">About</a></li>
                    <li><a href="./templates/contact.htm">Contact</a></li>
                    <li><a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-facebook-f"></i></a></li>
                   <li><a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>

<section class="bio-section">
    <div class="bio-text">
        <h1>Biography</h1>
        <p>
            I'm a paragraph. Click here to add your own text and edit me. It's easy. 
            Just click “Edit Text” or double click me to add your own content and make 
            changes to the font. Feel free to drag and drop me anywhere you like on your 
            page. I'm a great place for you to tell a story and let your users know a 
            little more about you.
        </p>
        <p>
            This is a great space to write a long text about your company and your 
            services. You can use this space to go into a little more detail about your 
            company. Talk about your team and what services you provide. Tell your 
            visitors the story of how you came up with the idea for your business and 
            what makes you different from your competitors. Make your company stand out 
            and show your visitors who you are.
        </p>
    </div>

    <div class="bio-image">
        <img src="https://static.wixstatic.com/media/e4f166_7e1a3e75d1c3457ba9cf9ae94106b730~mv2.jpg/v1/fill/w_291,h_435,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/farol-106-c2Zrm27IEyk-unsplash%20(2).jpg" alt="Biography image">
    </div>
</section>

<footer class="clients-section">
    <div class="container">
        <h2>Selected clients</h2>
        <p class="description">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>

        <div class="logos">
            <img src="https://static.wixstatic.com/media/e4f166_cadb56274f54450297370583525a8ee1~mv2.png/v1/fill/w_146,h_74,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Artboard%201%20copy.png" alt="Remake Logo">
            <img src="https://static.wixstatic.com/media/e4f166_bf11f3cd4257416d94827936c8b48d11~mv2.png/v1/fill/w_138,h_63,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Artboard%201%20copy%202.png" alt="Tree Logo">
            <img src="https://static.wixstatic.com/media/e4f166_5cf7d4c325f649d9bd1479b3713d6d2b~mv2.png/v1/fill/w_119,h_46,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Artboard%201.png" alt="Esther Logo">
            <img src="https://static.wixstatic.com/media/e4f166_7871c6522c3e4eb6b6515989c93e3205~mv2.png/v1/fill/w_113,h_63,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Artboard%201%20copy%204.png" alt="EX Gravity Logo">
            <img src="https://static.wixstatic.com/media/e4f166_ee0369c2aa904dddb8f2d8c49dddc7d1~mv2.png/v1/fill/w_185,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Artboard%201%20copy%203.png" alt="Manning Powell Logo">
        </div>
    </div>
        <h4>
© 2035 by Charley Knox. Powered and secured by Wix</h4>
</footer>

</body>
</html>