<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/common.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <header>
        <a href="../index.html"><h1 class="ckp">CKP</h1></a>
        <input type="checkbox" name="" id="chek">
        <label for="chek">
          <div class="burger">
             <div class="lineburger"></div>
             <div class="lineburger"></div>
             <div class="lineburger"></div>
          </div>

          </label>
        <nav>
            <ul>
                <li>
                    <li><a href="../templates/portfolio.html">Portfolio</a></li>
                    <li><a href="../templates/about.html">About</a></li>
                    <li><a href="../templates/contact.htm">Contact</a></li>
                    <a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </header>

<div class="container">
    <div class="left-box">
        <h1>Contact</h1>

        <p class="text">
            Charley Knox Is Represented<br>
            by United Creatives
        </p>

        <p class="text">
            Email: info@mysite.com<br>
            Phone: 123-456-7890
        </p>
    </div>

    <div class="right-box">
        <form>
            <div class="input-group">
                <div>
                    <label>First Name *</label>
                    <input type="text">
                </div>
                <div>
                    <label>Last Name *</label>
                    <input type="text">
                </div>
            </div>

            <div class="input-group">
                <div>
                    <label>Email *</label>
                    <input type="email">
                </div>
                <div>
                    <label>Phone</label>
                    <input type="text">
                </div>
            </div>

            <label>Leave us a message...</label>
            <textarea></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<footer>
        <h4>
© 2035 by Charley Knox. Powered and secured by Wix</h4>
    </footer>

</body>
</html>