<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portraits</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/portraits.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a href="../index.html"><h1 class="ckp">CKP</h1></a>
        <input type="checkbox" name="" id="chek">
        <label for="chek">
          <div class="burger">
             <div class="lineburger"></div>
             <div class="lineburger"></div>
             <div class="lineburger"></div>
          </div>

          </label>
        <nav>
            <ul>
                    <li><a href="../templates/portfolio.html">Portfolio</a></li>
                    <li><a href="../templates/about.html">About</a></li>
                    <li><a href="../templates/contact.htm">Contact</a></li>
                    <li><a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-facebook-f"></i></a></li>
                   <li><a href="https://www.facebook.com/dato.gorgidze.693269"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>


<section class="gallery">
    <h1>Portraits</h1>

    <div class="grid">
        <div class="left">
            <img src="../img/1.webp" alt="Portrait 1">
            <img src="../img/2.webp" alt="Portrait 2">
        </div>

        <div class="right">
            <img src="../img/3.webp" alt="Portrait 3">
        </div>
    </div>
</section>


<footer>
        <h4>
© 2035 by Charley Knox. Powered and secured by Wix</h4>
    </footer>
</body>
</html>