*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    resize: none;
    color: white;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

.bio-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 5%;
    gap: 50px;
}

.bio-text {
    padding-left: 50px;
    width: 50%;
    max-width: 600px;
}

.bio-text h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}

.bio-text p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #ccc;
}

.bio-image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.bio-image img {
    width: 100%;
    max-width: 450px;
    object-fit: cover;
    background-size: cover;
}

.clients-section {
    /* background-color: #000000; */
    /* color: #ffffff; */
    padding: 100px 5%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clients-section h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px;
}

.description {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 80px;
    opacity: 0.8;
}

.logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    color: white;
}

/* .logos img {
    filter: invert(100%);
    opacity: .8;
    transition: 0.3s;
} */

.logos img:hover {
    opacity: 1;
}

/* 📱 Responsive */
@media (max-width: 900px) {
    .clients-section h2 {
        font-size: 45px;
    }
    .logos {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .clients-section h2 {
        font-size: 35px;
    }
    .description {
        font-size: 14px;
        margin-bottom: 50px;
    }
}

/* Responsive */
@media (max-width: 992px) {
    .bio-section {
        flex-direction: column;
        text-align: left;
    }

    .bio-text, .bio-image {
        width: 100%;
    }

    .bio-text h1 {
        font-size: 48px;
        text-align: center;
    }

    .bio-text p {
        text-align: center;
    }

    .bio-image {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .bio-text h1 {
        font-size: 40px;
    }

    .bio-text p {
        font-size: 15px;
    }
}