*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    resize: none;
    color: white;
}


.ckp {
    padding: 40px;
    color: white;
    padding-left: 65px;
}

nav, ul, li {
    display: flex;
    justify-content: end;
    gap: 60px;
    color: white;
    font-size: 20px;
    padding-right: 40px;
    margin-top: -20px;
    font-size: 20px;
}

footer, h4{
    padding-left: 20px;
    padding-top: 300px;
    font-size: 15px;
}


.lineburger{
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */

}

.burger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 10px;
}
#chek{
    display: none;
}
#chek:checked ~ nav{
    display: flex;
   
}
#chek:checked + label .burger .lineburger:nth-child(2){
    display: none;
}
#chek:checked + label .burger .lineburger:nth-child(1){
    transform: rotate(45deg) translate(7px);
    transition: 0.5s;
}
#chek:checked + label .burger .lineburger:nth-child(3){
      transform: rotate(-45deg) translate(5px);
      transition: 0.5s;
}
#chek:checked ~ nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
   
   
}

#chek:checked ~ nav{
     position: absolute;
    top: 50px;
    right: 20px;
    /* background-color: aliceblue; */
    width: 300px;
    z-index: 5;
    display: flex;
    gap: 20px;

}
@media screen and (max-width: 750px){
    nav{
        display: none;
    }
    .burger{
        display: flex;
    }
    nav ul {
    gap: 35px;
    padding-right: 20px;
  }
}