*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    resize: none;
    color: white;
}

body {
    background: #000;
    color: #fff;
}

.ckp {
    padding: 40px;
    color: white;
}

nav, ul, li {
    display: flex;
    justify-content: end;
    gap: 50px;
    color: white;
    font-size: 20px;
    padding-right: 40px;
    margin-top: -20px;
}


main, h2{
    padding-left: 70px;
    padding-top: 70px;
    font-size: 100px;
    font-family: "Kedebideri", sans-serif;
}

main, h3{
    font-size: 25px;
    padding-left: 90px;
}

footer, h4{
    padding-left: 20px;
    padding-top: 300px;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.left-box {
    width: 40%;
}

.left-box h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.left-box .text {
    line-height: 28px;
    margin-bottom: 40px;
    font-size: 16px;
}

.right-box {
    width: 55%;
}

form {
    width: 100%;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    color: #fff;
    outline: none;
    font-size: 14px;
    margin-bottom: 35px;
}

textarea {
    height: 100px;
    resize: none;
}

.input-group {
    display: flex;
    gap: 30px;
}

button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 45px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #fff;
    color: #000;
}

.lineburger{
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 10px;

}

.burger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 10px;
}
#chek{
    display: none;
}
#chek:checked ~ nav{
    display: flex;
   
}
#chek:checked + label .burger .lineburger:nth-child(2){
    display: none;
}
#chek:checked + label .burger .lineburger:nth-child(1){
    transform: rotate(45deg) translate(7px);
    transition: 0.5s;
}
#chek:checked + label .burger .lineburger:nth-child(3){
      transform: rotate(-45deg) translate(5px);
      transition: 0.5s;
}
#chek:checked ~ nav ul{
    display: flex;
    flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px;
   
   
}

#chek:checked ~ nav{
     position: absolute;
    top: 50px;
    right: 20px;
    /* background-color: aliceblue; */
    width: 300px;
    z-index: 5;
    display: flex;
    gap: 20px;

}
@media screen and (max-width: 750px){
    nav{
        display: none;
    }
    .burger{
        display: flex;
    }
}

/* RESPONSIVE SECTION */

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        gap: 50px;
    }

    .left-box, .right-box {
        width: 100%;
    }

    .left-box h1 {
        font-size: 48px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 30px 20px;
    }

    .left-box h1 {
        font-size: 40px;
    }

    .input-group {
        flex-direction: column;
        gap: 0;
    }

    input, textarea {
        font-size: 15px;
    }

    button {
        width: 100%;
        padding: 15px 0;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .left-box h1 {
        font-size: 34px;
    }

    .left-box .text {
        font-size: 14px;
        line-height: 22px;
    }

    label {
        font-size: 13px;
    }

    input, textarea {
        font-size: 13px;
        margin-bottom: 25px;
    }

    button {
        font-size: 14px;
    }
}
