*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    resize: none;
    color: white;
}



body {
    background: #000;
    padding: 40px 20px;
}

section, h1{
    padding-left: 420px;
}

.container {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1400px;
    margin: auto;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
    transition: 0.4s ease;
}

/* Hover effect */
.card:hover img {
    transform: scale(1.05);
    filter: brightness(80%);
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    pointer-events: none;
}

/*  --- RESPONSIVE --- */

/* Tablets (2 columns) */
@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .label {
        font-size: 26px;
    }
}

/* Mobile (1 column) */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    body {
        padding: 20px;
    }

    .label {
        font-size: 24px;
    }
}